#ZF2 third party
vendor/

#Components
public/components/

#Assets cache
public/assets/

*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.directory

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

/nbproject/private/

/data/DoctrineORMModule/Proxy/
/data/cache/
/temp/

*.local.php
config/development.config.php
config/autoload/local.php

tests/_output/*

data/brest
data/cdg
data/paris
data/crnaso
data/NMB2B
data/NM_B2B
data/tempimg

screenshots/

.DS_Store

#public api-tools
public/api-tools-ui/
public/api-tools/
public/api-tools-documentation-swagger/

#test api apps
testapiapp
testapienv
