<?xml version="1.0" encoding="UTF-8"?>

<phpunit 
	bootstrap="tests/Bootstrap.php"
	colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    verbose="true"
    stopOnFailure="false"
    processIsolation="false"
    backupGlobals="false"
    syntaxCheck="true"
>
    <testsuites>
        <testsuite name="Application tests">
            <directory suffix=".php">./tests/ApplicationTest</directory>
            <exclude>./tests/ApplicationTest/Common/TestCase.php</exclude>
        </testsuite>
    </testsuites>
    <filter>
    	<whitelist addUncoveredFilesFromWhitelist="true">
    		<directory suffix=".php">./module</directory>
   		</whitelist>
    </filter>
    <logging>
  		<log type="coverage-clover" target="coverage.xml"/>
  	</logging>
</phpunit>