@CHARSET "UTF-8";

.header {
	position: absolute;
	top:0px;
	height:2em;
	width:100%;
	background-color:gray;
}

.nav-centered {
	width: 50%;
	padding-left: 25%;
}

#clock {
	position:absolute;
	right:10px;
	margin-top:0.25em;
	font-weight: bold;
	font-size: 1.2em;
}

#create-evt {
	display:none;
}

.status {
	width: 120px;
	text-align:center;
}


/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }

