<?xml version="1.0" encoding="UTF-8"?>

<phpunit 
	bootstrap="Bootstrap.php"
	colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    verbose="true"
    stopOnFailure="false"
    processIsolation="false"
    backupGlobals="false"
    syntaxCheck="true"
>
    <testsuites>
        <testsuite name="Application tests">
            <directory suffix=".php">./ApplicationTest</directory>
            <exclude>./ApplicationTest/Common/TestCase.php</exclude>
        </testsuite>
    </testsuites>
    <filter>
    	<whitelist processUncoveredFilesFromWhitelist="true">
    		<directory suffix=".php">../module</directory>
   		</whitelist>
    </filter>
</phpunit>