<div class="modal fade" id="recurr" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Répétitions</h4>
      </div>
      <div class="modal-body">
        <div class="form-horizontal container-fluid scheduler" role="form" id="recurr-scheduler">
          <div class="form-group start-datetime">
            <label class="control-label col-sm-3 scheduler-label" for="myStartDate">Date de début :</label>
            <div class="col-xs-8">
              <div class="row">
              <div class="start-date col-xs-5">
                  <input class="form-control" id="myStartDate" type="text" readonly>
              </div>
              <div class="start-time col-xs-5">
                <input id="MyStartTime" type="text" class="form-control" readonly>
              </div>
                </div>
            </div>
          </div>

          <div class="row timezone-container unvisible">
            <label class="col-sm-2 control-label scheduler-label">Timezone</label>
            <div class="col-xs-10 col-sm-10 col-md-10">
              <div data-resize="auto" class="btn-group selectlist timezone">
                <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">
                  <span class="selected-label">(GMT) Greenwich Mean Time : Dublin, Edinburgh, Lisbon, London *</span>
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li data-name="GMT Standard Time" data-offset="+00:00"><a href="#">(GMT) Greenwich Mean Time : Dublin,
                    Edinburgh, Lisbon, London *</a></li>
                </ul>
                <input type="text" aria-hidden="true" readonly="readonly" name="TimeZoneSelectlist"
                       class="hidden hidden-field">
              </div>
            </div>
          </div>

          <div class="row repeat-container">
            <label class="col-sm-3 control-label scheduler-label">Répéter :</label>
            <div class="col-sm-9">

              <div class="form-group repeat-interval">
                <div data-resize="auto" class="btn-group selectlist pull-left repeat-options">
                  <button data-toggle="dropdown" class="btn btn-default dropdown-toggle btn-sm" type="button">
                    <span class="selected-label">Jamais</span>
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li data-value="none"><a href="#">Jamais</a></li>
                    <li data-value="hourly" data-text="heure(s)"><a href="#">Chaque heure</a></li>
                    <li data-value="daily" data-text="jour(s)"><a href="#">Chaque jour</a></li>
                    <li data-value="weekly" data-text="semaine(s)"><a href="#">Chaque semaine</a></li>
                    <li data-value="monthly" data-text="mois"><a href="#">Chaque mois</a></li>
                    <li data-value="yearly"><a href="#">Chaque année</a></li>
                  </ul>
                  <input type="text" aria-hidden="true" readonly="readonly" name="intervalSelectlist"
                         class="hidden hidden-field">
                </div>

                <div class="repeat-panel repeat-every-panel repeat-hourly repeat-daily repeat-weekly hide"
                     aria-hidden="true">
                  <label id="MySchedulerEveryLabel" class="inline-form-text repeat-every-pretext">tous/toutes les</label>

                  <div class="spinbox digits-3 repeat-every">
                    <input type="text" class="form-control input-mini spinbox-input"
                           aria-labelledby="MySchedulerEveryLabel">
                    <div class="spinbox-buttons btn-group btn-group-vertical">
                      <button type="button" class="btn btn-default spinbox-up btn-xs">
                        <span class="glyphicon glyphicon-chevron-up"></span><span class="sr-only">Augmenter</span>
                      </button>
                      <button type="button" class="btn btn-default spinbox-down btn-xs">
                        <span class="glyphicon glyphicon-chevron-down"></span><span class="sr-only">Diminuer</span>
                      </button>
                    </div>
                  </div>

                  <div class="inline-form-text repeat-every-text"></div>
                </div>
              </div>

              <div class="form-group repeat-panel repeat-weekly repeat-days-of-the-week hide" aria-hidden="true">
                <div class="btn-group btn-toggle" data-toggle="buttons">
                  <a class="btn btn-sm"><input type="checkbox" data-value="MO">Lun</a>
                  <a class="btn btn-sm"><input type="checkbox" data-value="TU">Mar</a>
                  <a class="btn btn-sm"><input type="checkbox" data-value="WE"> Mer</a>
                  <a class="btn btn-sm"><input type="checkbox" data-value="TH"> Jeu</a>
                  <a class="btn btn-sm"><input type="checkbox" data-value="FR"> Vdi</a>
                  <a class="btn btn-sm"><input type="checkbox" data-value="SA"> Sam</a>
                  <a class="btn btn-sm"><input type="checkbox" data-value="SU">Dim</a>
                </div>
              </div>

              <div class="repeat-panel repeat-monthly hide" aria-hidden="true">
                <div class="form-group repeat-monthly-date">
                  <div class="radio pull-left">
                    <label>
                      <input class="sr-only" type="radio" checked="checked" name="repeat-monthly" value="bymonthday">
                      le
                    </label>
                  </div>

                  <div data-resize="auto" class="btn-group selectlist pull-left">
                    <button data-toggle="dropdown" class="btn btn-sm btn-default dropdown-toggle" type="button">
                      <span class="selected-label">1</span>
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" style="height:200px; overflow:auto;">
                      <li data-value="1"><a href="#">1</a></li>
                      <li data-value="2"><a href="#">2</a></li>
                      <li data-value="3"><a href="#">3</a></li>
                      <li data-value="4"><a href="#">4</a></li>
                      <li data-value="5"><a href="#">5</a></li>
                      <li data-value="6"><a href="#">6</a></li>
                      <li data-value="7"><a href="#">7</a></li>
                      <li data-value="8"><a href="#">8</a></li>
                      <li data-value="9"><a href="#">9</a></li>
                      <li data-value="10"><a href="#">10</a></li>
                      <li data-value="11"><a href="#">11</a></li>
                      <li data-value="12"><a href="#">12</a></li>
                      <li data-value="13"><a href="#">13</a></li>
                      <li data-value="14"><a href="#">14</a></li>
                      <li data-value="15"><a href="#">15</a></li>
                      <li data-value="16"><a href="#">16</a></li>
                      <li data-value="17"><a href="#">17</a></li>
                      <li data-value="18"><a href="#">18</a></li>
                      <li data-value="19"><a href="#">19</a></li>
                      <li data-value="20"><a href="#">20</a></li>
                      <li data-value="21"><a href="#">21</a></li>
                      <li data-value="22"><a href="#">22</a></li>
                      <li data-value="23"><a href="#">23</a></li>
                      <li data-value="24"><a href="#">24</a></li>
                      <li data-value="25"><a href="#">25</a></li>
                      <li data-value="26"><a href="#">26</a></li>
                      <li data-value="27"><a href="#">27</a></li>
                      <li data-value="28"><a href="#">28</a></li>
                      <li data-value="29"><a href="#">29</a></li>
                      <li data-value="30"><a href="#">30</a></li>
                      <li data-value="31"><a href="#">31</a></li>
                    </ul>
                    <input type="text" aria-hidden="true" readonly="readonly" name="monthlySelectlist"
                           class="hidden hidden-field">
                  </div>
                </div>

                <div class="repeat-monthly-day form-group">
                  <div class="radio pull-left">
                    <label>
                      <input class="sr-only" type="radio" checked="checked" name="repeat-monthly" value="bysetpos">
                      le
                    </label>
                  </div>

                  <div data-resize="auto" class="btn-group selectlist month-day-pos pull-left">
                    <button data-toggle="dropdown" class="btn btn-sm btn-default dropdown-toggle" type="button">
                      <span class="selected-label">Premier</span>
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li data-value="1"><a href="#">Premier</a></li>
                      <li data-value="2"><a href="#">Deuxième</a></li>
                      <li data-value="3"><a href="#">Troisième</a></li>
                      <li data-value="4"><a href="#">Quatrième</a></li>
                      <li data-value="-1"><a href="#">Dernier</a></li>
                    </ul>
                    <input type="text" aria-hidden="true" readonly="readonly" name="monthlySelectlist"
                           class="hidden hidden-field">
                  </div>

                  <div data-resize="auto" class="btn-group selectlist month-days pull-left">
                    <button data-toggle="dropdown" class="btn btn-sm btn-default dropdown-toggle" type="button">
                      <span class="selected-label">Dimanche</span>
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li data-value="MO"><a href="#">Lundi</a></li>
                      <li data-value="TU"><a href="#">Mardi</a></li>
                      <li data-value="WE"><a href="#">Mercredi</a></li>
                      <li data-value="TH"><a href="#">Jeudi</a></li>
                      <li data-value="FR"><a href="#">Vendredi</a></li>
                      <li data-value="SA"><a href="#">Samedi</a></li>
                      <li data-value="SU"><a href="#">Dimanche</a></li>
                      <li data-value="SU,MO,TU,WE,TH,FR,SA"><a href="#">Tous les jours</a></li>
                      <li data-value="MO,TU,WE,TH,FR"><a href="#">Jours ouvrables</a></li>
                      <li data-value="SU,SA"><a href="#">Samedi, Dimanche</a></li>
                    </ul>
                    <input type="text" aria-hidden="true" readonly="readonly" name="monthlySelectlist"
                           class="hidden hidden-field">
                  </div>

                </div>
              </div>

              <div class="repeat-panel repeat-yearly hide" aria-hidden="true">
                <div class="form-group repeat-yearly-date">

                  <div class="radio pull-left">
                    <label>
                      <input class="sr-only" type="radio" checked="checked" name="repeat-yearly" value="bymonthday">
                      le
                    </label>
                  </div>

                  <div data-resize="auto" class="btn-group selectlist year-month-day pull-left">
                    <button data-toggle="dropdown" class="btn btn-sm btn-default dropdown-toggle" type="button">
                      <span class="selected-label">1</span>
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" style="height:200px; overflow:auto;">
                      <li data-value="1"><a href="#">1</a></li>
                      <li data-value="2"><a href="#">2</a></li>
                      <li data-value="3"><a href="#">3</a></li>
                      <li data-value="4"><a href="#">4</a></li>
                      <li data-value="5"><a href="#">5</a></li>
                      <li data-value="6"><a href="#">6</a></li>
                      <li data-value="7"><a href="#">7</a></li>
                      <li data-value="8"><a href="#">8</a></li>
                      <li data-value="9"><a href="#">9</a></li>
                      <li data-value="10"><a href="#">10</a></li>
                      <li data-value="11"><a href="#">11</a></li>
                      <li data-value="12"><a href="#">12</a></li>
                      <li data-value="13"><a href="#">13</a></li>
                      <li data-value="14"><a href="#">14</a></li>
                      <li data-value="15"><a href="#">15</a></li>
                      <li data-value="16"><a href="#">16</a></li>
                      <li data-value="17"><a href="#">17</a></li>
                      <li data-value="18"><a href="#">18</a></li>
                      <li data-value="19"><a href="#">19</a></li>
                      <li data-value="20"><a href="#">20</a></li>
                      <li data-value="21"><a href="#">21</a></li>
                      <li data-value="22"><a href="#">22</a></li>
                      <li data-value="23"><a href="#">23</a></li>
                      <li data-value="24"><a href="#">24</a></li>
                      <li data-value="25"><a href="#">25</a></li>
                      <li data-value="26"><a href="#">26</a></li>
                      <li data-value="27"><a href="#">27</a></li>
                      <li data-value="28"><a href="#">28</a></li>
                      <li data-value="29"><a href="#">29</a></li>
                      <li data-value="30"><a href="#">30</a></li>
                      <li data-value="31"><a href="#">31</a></li>
                    </ul>
                    <input type="text" aria-hidden="true" readonly="readonly" name="monthlySelectlist"
                           class="hidden hidden-field">
                  </div>

                  <div data-resize="auto" class="btn-group selectlist year-month pull-left">
                    <button data-toggle="dropdown" class="btn btn-sm btn-default dropdown-toggle" type="button">
                      <span class="selected-label">Janvier</span>
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li data-value="1"><a href="#">Janvier</a></li>
                      <li data-value="2"><a href="#">Février</a></li>
                      <li data-value="3"><a href="#">Mars</a></li>
                      <li data-value="4"><a href="#">Avril</a></li>
                      <li data-value="5"><a href="#">Mai</a></li>
                      <li data-value="6"><a href="#">Juin</a></li>
                      <li data-value="7"><a href="#">Juillet</a></li>
                      <li data-value="8"><a href="#">Août</a></li>
                      <li data-value="9"><a href="#">Septembre</a></li>
                      <li data-value="10"><a href="#">Octobre</a></li>
                      <li data-value="11"><a href="#">Novembre</a></li>
                      <li data-value="12"><a href="#">Décembre</a></li>
                    </ul>
                    <input type="text" aria-hidden="true" readonly="readonly" name="monthlySelectlist"
                           class="hidden hidden-field">
                  </div>

                </div>

                <div class="form-group repeat-yearly-day">

                  <div class="radio pull-left">
                    <label><input class="sr-only" type="radio" name="repeat-yearly" value="bysetpos">le</label>
                  </div>

                  <div data-resize="auto" class="btn-group selectlist year-month-day-pos pull-left">
                    <button data-toggle="dropdown" class="btn btn-sm btn-default dropdown-toggle" type="button">
                      <span class="selected-label">Premier</span>
                      <span class="caret"></span>
                      <span class="sr-only">Premier</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li data-value="1"><a href="#">Premier</a></li>
                      <li data-value="2"><a href="#">Deuxième</a></li>
                      <li data-value="3"><a href="#">Troisième</a></li>
                      <li data-value="4"><a href="#">Quatrième</a></li>
                      <li data-value="-1"><a href="#">Dernier</a></li>
                    </ul>
                    <input type="text" aria-hidden="true" readonly="readonly" name="yearlyDateSelectlist"
                           class="hidden hidden-field">
                  </div>

                  <div data-resize="auto" class="btn-group selectlist year-month-days pull-left">
                    <button data-toggle="dropdown" class="btn btn-sm btn-default dropdown-toggle" type="button">
                      <span class="selected-label">Sunday</span>
                      <span class="caret"></span>
                      <span class="sr-only">Sunday</span>
                    </button>
                    <ul class="dropdown-menu" role="menu" style="height:200px; overflow:auto;">
                      <li data-value="MO"><a href="#">Lundi</a></li>
                      <li data-value="TU"><a href="#">Mardi</a></li>
                      <li data-value="WE"><a href="#">Mercredi</a></li>
                      <li data-value="TH"><a href="#">Jeudi</a></li>
                      <li data-value="FR"><a href="#">Vendredi</a></li>
                      <li data-value="SA"><a href="#">Samedi</a></li>
                      <li data-value="SU"><a href="#">Dimanche</a></li>
                      <li data-value="SU,MO,TU,WE,TH,FR,SA"><a href="#">Tous les jours</a></li>
                      <li data-value="MO,TU,WE,TH,FR"><a href="#">Jours ouvrables</a></li>
                      <li data-value="SU,SA"><a href="#">Samedi, Dimanche</a></li>
                    </ul>
                    <input type="text" aria-hidden="true" readonly="readonly" name="yearlyDaySelectlist"
                           class="hidden hidden-field">
                  </div>
                  <div class="inline-form-text repeat-yearly-day-text"> de</div>

                  <div data-resize="auto" class="btn-group selectlist year-month pull-left">
                    <button data-toggle="dropdown" class="btn btn-sm btn-default dropdown-toggle" type="button">
                      <span class="selected-label">Janvier</span>
                      <span class="caret"></span>
                      <span class="sr-only">Janvier</span>
                    </button>
                    <ul class="dropdown-menu" role="menu" style="height:200px; overflow:auto;">
                      <li data-value="1"><a href="#">Janvier</a></li>
                      <li data-value="2"><a href="#">Février</a></li>
                      <li data-value="3"><a href="#">Mars</a></li>
                      <li data-value="4"><a href="#">Avril</a></li>
                      <li data-value="5"><a href="#">Mai</a></li>
                      <li data-value="6"><a href="#">Juin</a></li>
                      <li data-value="7"><a href="#">Juillet</a></li>
                      <li data-value="8"><a href="#">Août</a></li>
                      <li data-value="9"><a href="#">Septembre</a></li>
                      <li data-value="10"><a href="#">Octobre</a></li>
                      <li data-value="11"><a href="#">Novembre</a></li>
                      <li data-value="12"><a href="#">Décembre</a></li>
                    </ul>
                    <input type="text" aria-hidden="true" readonly="readonly" name="yearlyDaySelectlist"
                           class="hidden hidden-field">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row repeat-end hide" aria-hidden="true">
            <label class="col-sm-3 control-label scheduler-label">Fin :</label>
            <div class="col-sm-8">
              <div class="row">
                <div class="col-sm-4 form-group">
                  <div data-resize="auto" id="endOptionsSelectList" class="btn-group selectlist end-options pull-left">
                    <button data-toggle="dropdown" class="btn btn-sm btn-default dropdown-toggle" type="button">
                      <span class="selected-label">Le</span>
                      <span class="caret"></span>
                      <span class="sr-only">Le</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <!--<li data-value="never"><a href="#">Jamais</a></li>-->
                      <li><a href="#"><em>Type de fin...</em></a></li>
                      <li data-value="after"><a href="#">Après</a></li>
                      <li data-value="date"><a href="#">Le</a></li>
                    </ul>
                    <input type="text" aria-hidden="true" readonly="readonly" name="EndSelectlist"
                           class="hidden hidden-field">
                  </div>
                </div>

                <div class="col-sm-6 form-group end-option-panel end-after-panel pull-left hide"
                     aria-hidden="true">
                  <div class="spinbox digits-3 end-after">
                    <label id="MyEndAfter" class="sr-only">End After</label>
                    <input type="text" class="form-control input-mini spinbox-input" aria-labelledby="MyEndAfter">
                    <div class="spinbox-buttons btn-group btn-group-vertical">
                      <button type="button" class="btn btn-default spinbox-up btn-xs">
                        <span class="glyphicon glyphicon-chevron-up"></span><span class="sr-only">Increase</span>
                      </button>
                      <button type="button" class="btn btn-default spinbox-down btn-xs">
                        <span class="glyphicon glyphicon-chevron-down"></span><span class="sr-only">Decrease</span>
                      </button>
                    </div>
                  </div>
                  <div class="inline-form-text end-after-text">occurrence(s)</div>
                </div>

                <div class="col-xs-4 col-sm-4 col-lg-4 form-group end-option-panel end-on-date-panel pull-left hide"
                     aria-hidden="true">
                  <div class="datepicker end-on-date">
                      <input class="form-control" id="myEndDate" type="text"/>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button id="validateRecurrence" type="button" class="btn btn-success" data-dismiss="modal" disabled="disabled">Valider</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
      </div>
    </div>
  </div>
</div>
