<?php
/**
 * @license http://opensource.org/licenses/BSD-3-Clause BSD-3-Clause
 * @copyright Copyright (c) 2014 Zend Technologies USA Inc. (http://www.zend.com)
 */

return [
    // Development time modules
    'modules' => [
        'Zend\Mvc\I18n',
        'ZF\Doctrine\DataFixture',
        'Zend\Mvc\Plugin\FlashMessenger',
        'Zend\Mvc\Plugin\Prg',
        'Zend\Db',
        'Zend\Log',
        'Zend\Session',
        'Zend\Cache',
        'Zend\Paginator',
        'Zend\Form',
        'Zend\InputFilter',
        'Zend\Filter',
        'Zend\Hydrator',
        'Zend\I18n',
        'Zend\Mvc\Console',
        'Zend\Router',
        'Zend\Validator',
        'ZF\Apigility\Admin',
        //'ZF\Configuration',
        'DoctrineModule',
        'DoctrineORMModule',
        'ZF\ApiProblem',
        'ZF\ContentNegotiation',
        'ZF\Apigility\Documentation',
        'ZF\Apigility\Documentation\Swagger',
        'ZF\Versioning',
        'ZF\Rpc',
        'ZF\MvcAuth',
        'ZF\Hal',
        'ZF\Rest',
        'ZF\ContentValidation',
        'ZF\Apigility',
    ],
    // development time configuration globbing
    'module_listener_options' => [
        'config_glob_paths' => ['config/autoload/{,*.}{global,local}-development.php'],
    ],
];