<?php
/**
 * Local Configuration Override
 *
 * This configuration override file is for overriding environment-specific and
 * security-sensitive configuration information. Copy this file without the
 * .dist extension at the end and populate values as needed.
 *
 * @NOTE: This file is ignored from Git by default with the .gitignore included
 * in ZendSkeletonApplication. This is a good practice, as it prevents sensitive
 * credentials from accidentally being committed into version control.
 */

return array(
    
    'zfc_rbac' => array(
        'guards' => array(
            //Configure autoconnection according to the example below
            //Clients with IP matching this list won't be able to connect with another user
            'Core\Guard\AutoConnectGuard' => array(
                '127.0.0.1' => array(
                    'user' => 'admin',
                    'password' => 'adminadmin')
            )
        )
    )
);
