<?php
/**
 * Exemple de fichier de configuration
 * Mode d'emploi :
 * - créer un fichier local.php
 * - y mettre le paramétrage strictement nécessaire sur le modèle de ce fichier
 */

return array(

    //activer les boutons sunrise/sunset dans le formulaire de création d'évènement
    //service utilisé : https://api.sunrise-sunset.org/json
    //exemple avec les coordonnées de Paris : latitude et longitude en format décimal uniquement
    //ne pas incorporer le paramétrage pour ne pas activer cette fonction
    "sunrise" => array(
        "service" => "https://api.sunrise-sunset.org/json", //ne pas modifier ce paramètre
        "lat" => 48.8534,
        "lon" => 2.3488
    ),

    //activer la simplification de l'IHM OPE
    //si paramètre absent ou différent de true : IHM normale
    "IHM_OPE_Light" => true,

    "secret_key" => "<my secret key>",
    "secret_init" => "<my secret initialisation vector>",

    // Paramétrage de connexion automatique pour les clients basé sur leur IPv4
    'zfc_rbac' => array(
        'guards' => array(
            //Configure autoconnection according to the example below
            //Clients with IP matching this list won't be able to connect with another user
            'Core\Guard\AutoConnectGuard' => array(
                '127.0.0.1' => array(
                    'user' => 'admin',
                    'password' => 'adminadmin')
            )
        )
    ),
    //specify another translation file
    'lang' => 'fr_FR',
    'translator' => array(
            'locale' => 'fr_FR',
    ),
    //activate special radio menu for frequencies test
    'frequency_test_menu' => true,

    //change frequency colors
    //available pairs :
    //  'ok' => 'green' (default)
    //  'ok' => 'grey'
    //  'warning' => 'yellow'
    //  'warning' => 'orange' (default)
    //  'fail' => 'red' (default)
    //  'planned' => 'blue' (default)
    //example : change warning color to yellow
    'frequency_tab_colors' => array(
        'warning' => 'yellow'
    ),
    //API Authentication configuration
    'api-tools-mvc-auth' => array(
        'authentication' => array(
            'adapters' => array(
                'basic' => array(
                    'adapter' => 'Laminas\\ApiTools\\MvcAuth\\Authentication\\HttpAdapter',
                    'options' => array(
                        'accept_schemes' => array(
                            0 => 'basic',
                        ),
                        'realm' => 'api',
                        'htpasswd' => 'data/users.htpasswd',
                    ),
                ),
            ),
        ),
    ),

    'btiv' => array(
        // url pour la récupération des NOTAM. Pour l'instant cela ne peut se faire que via le site notamweb du SIA.
        'af_notam_url' => 'http://notamweb.aviation-civile.gouv.fr/Script/IHM/Bul_Aerodrome.php?AERO_Langue=FR',
        // timeout : secondes avant l'echec de la recuperation des Notam. Augmenter si connexion internet lente.
        'af_notam_max_loading_seconds' => 8,
        // rayon de récupération des NOTAM : site du SIA (30), comportement d'avant la mise à jour SIA : 
        'af_rayon' => 0,
        'af_plafond' => 30,
        // paramétrage du serveur de carte, ici mapbox
        'ip_map' => [
            'url' => "https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}",
            'attribution' => 'Map data &copy; <a href=\"http://openstreetmap.org\">OpenStreetMap</a> contributors, <a href=\"http://creativecommons.org/licenses/by-sa/2.0/\">CC-BY-SA</a>, Imagery © <a href=\"http://mapbox.com\">Mapbox</a>',
            'maxZoom' => 18,
            'id' => "oziatek.ppg7d633",
            'accessToken' => "pk.eyJ1Ijoib3ppYXRlayIsImEiOiJjaW5oZXI1dW8wMDF2dnNrbGNkMmpzZzRwIn0.cD36ZQU6C4tc0uqLzU8MGw"
        ],
        // nombre de résultats du déclenchement d'un plan d'interrogation
        'ip_nb_terrains' => 30,
        // nombre de résultats par page du déclenchement d'un plan d'interrogation
        'ip_nb_par_pages' => 5,
        // emetteur des emails pour les plans d'interrogation
        'ip_email_from' => 'emetteur@aviation-civile.gouv.fr',
        // receveurs des emails pour les plans d'interrogation
        'ip_email_to' => [
            'receveur1@?.?',
            'receveur2@?.?'
            // etc.
        ],
        // sujet des messages envoyés pour les plans d'interrogation
        'ip_email_subject' => 'titre des email',
        // texte des messages envoyés pour les plans d'interrogation
        'ip_email_text' => 'corps des email',
        // repertoire de sauvegarde des pdf des plans d'interrogation
        // pas de / à la fin
        'ip_dir' => 'data/plans',
        // données par défaut des terrains
        'ip_fichier_terrain' => 'data/terLF.GeoJson',
        // données par défaut des balises
        'ip_fichier_balise' => 'data/balLF.GeoJson',
        // centrage de la carte par defaut
        'ip_centrage_defaut' => [48.8534100, 2.3488000],
        // icone des balise
        'ip_image_balise' => 'btn-bal-g.png',
        // icone des terrains
        'ip_image_terrain' => 'btn-ter.png',
        // icone des heliports
        'ip_image_hel' => 'btn-hel.png'
    )
);
