<?php
return array(
    'nm_b2b' => array(
        'cert_path' => 'path_to_certificate_file',//mandatory
        'cert_password' => 'password',//mandatory
        'wsdl' => array(
            'airspaceservices' => 'path to airspace services wsdl file',//to enable AUP import
            'flowservices' => 'path to flow services wsdl file',//to enable regulations import
        )
    ),
);

