<?php

return array(
    'smtp' => array(
        'name'              => 'DGAC',
        'host'              => 'mail.****.aviation-civile.gouv.fr',
        'connection_class'  => 'plain',
        'port'              => 587,
        'connection_config' => array(
            'username'  => 'user',
            'password'  => 'pass',
            'ssl'       => 'tls',
        ),
    ),
    'emailfrom' => 'user@aviation-civile.gouv.fr',
);

